
<div class="container">
  <h3>Gross Collections, by Type of Tax and State, Fiscal Year 2017</h3>
  <table class="table">
    <caption>All numbers in thousands. Data available at: <a href="https://www.irs.gov/statistics/returns-filed-taxes-collected-and-refunds-issued">https://www.irs.gov/statistics/returns-filed-taxes-collected-and-refunds-issued</a> </caption>
    <thead>
      <tr>
        <th>State</th>
        <th>Total IRS Collections</th>
        <th>Total Business Income</th>
        <th>Individual Income Tax Withheld, FICA Tax</th>
        <th>Individual Income Tax Payments, SECA Tax</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let state of states$ | async">
        <td>{{ state.name }}</td>
        <td>{{ state.totalIRSCollections | currency }}</td>
        <td>{{ state.businessIncome | currency }}</td>
        <td>{{ state.individualIncomeTaxWithheldFICA | currency }}</td>
        <td>{{ state.individualIncomeTaxPaymentsSECA | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>